.main {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: min-content min-content;
    grid-column-gap: 1rem;

}
.content {
    
    grid-column: 1/2;
    grid-row: 1/-1;
}
.side {
    background-color: red;
    grid-column: 2/3;
    grid-row: 1/-1;
}
.content {
    display: flex;
    flex-wrap: wrap;

   
}
.box {
    min-width: 300px;
    flex-basis: 48%;
    margin-right: 1rem;
    &__heading-h-3 {
        background-color: turquoise;
        color: white;
        padding: .5rem;
        text-align: center;
    }
    &__paragraph {
        padding: .5rem;
    }
   
}

@media (max-width: 600px){
   
    .content {
        display: block;
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .side {
        background-color: red;
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .box {
        width: 100%;
    }

}